@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #f1356d;
}

.App {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 700px;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  margin: 10px 0;
  color: #f1356d;
}

.navbar ul {
  margin-left: auto;
}

.navbar ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #fff;
}

.song-list {
  padding: 20px;
  margin-bottom: 20px;
}

.song-list ul {
  list-style-type: none;
  padding: 0;
}

.song-list ul li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  cursor: pointer;
}

.song-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}

.song-list .title {
  font-weight: bold;
  font-size: 1.2em;
}

.song-list .artist {
  font-size: 0.9em;
}

.empty {
  margin: 20px;
  text-align: center;
}

.create {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.create form {
  padding: 20px;
}

.create input[type='text'] {
  width: 100%;
  padding: 6px 10px;
  margin: 6px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background: #ddd;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
